<div id="pgNum">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">PREV</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item">
        <p class="page-link" href="#">...</p>
      </li>
      <li class="page-item"><a class="page-link" href="#">49</a></li>
      <li class="page-item"><a class="page-link" href="#">50</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span class="sr-only">NEXT</span>
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
