<div class="join">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 center">
        <h1 class="join1">
          Join the network of world’s best WordPress developers.
        </h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col center">
        <button class="btn btn-default btn-outline-success btn-lg justify-content-center" id="butn">APPLY AS
          AN EXPERT</button>
      </div>
    </div>
  </div>

</div>
