<div class="community">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 d-none d-lg-block"></div>
      <div class="col-lg-8 text-center">
        <h1 class="com1">
          Our community of elite WordPress development experts
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block"></div>
      <div class="col-lg-6 text-center">
        <p class="com2">
          We’ve designed a rigorous vetting process that ensures you only work with the best possible
          WordPress
          talent.
        </p>
      </div>
    </div>
  </div>
</div>
