<div class="container" id="sr">
  <div class="row">
    <div class="col-lg-3 col-md-4 search">
      <div style="
          border: #a7c4bc;
          border-radius: 4.8px;
          border-style: solid;
          border-width: 1.6px;
        ">
        <input class="sinput" type="text" placeholder="Search" />
        <button>
          <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="search" width="20px" />
        </button>
      </div>
    </div>
    <div class="col-lg-3 d-md-none d-lg-block"></div>
    <div class="col-lg-3 col-md-4 search">
    </div>
    <div class="row">
      <p class="col results">Showing 495 results</p>
    </div>
  </div>
</div>